<div class="modal fade" id="soon-guest" tabindex="-1" aria-labelledby="soon-guestLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content text-lg-center">
      <div class="row flex-fill justify-content-center">
        <div class="col-12 d-flex flex-column justify-content-lg-center align-items-lg-center">
          <div class="modal-header flex-column align-items-stretch gap-12px gap-lg-8px">
            <h5 class="fs-20px fs-lg-40px fw-semibold modal-title pe-32px pe-lg-0" id="soon-guestLabel">
              Запуск сервиса на осень 2025
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/close.svg#svg-close"></use>
                </svg>
              </span>
            </button>
          </div>
          <div class="modal-body flex-lg-grow-0 fs-lg-22px my-32px px-lg-64px">
            <p>
              Подпишитесь на наш телеграм-канал, чтобы узнать о запуске числе первых!
            </p>
          </div>
          <div class="modal-footer">
            <div class=" w-100 w-lg-auto d-flex flex-wrap gap-12px gap-lg-24px">
              <a href="https://t.me/psyaiteam" target="_blank" class="btn btn-lg btn-primary w-lg-auto w-100"
                data-loading="false">
                <span class="btn-content">
                  Перейти ТГ канал
                </span>
                <span class="btn-loading">
                  <span class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
